{% extends "base.html" %}

{% block content %}
	{% for book in books %}
	<tr>
		<td colspan="3"><input name="selectedBooks" type="checkbox" id="{{ book.id }}" value="{{ book.id }}" class="books" onclick="bookClicked()"> 
			<label class="labelBooks" for="{{ book.id }}"> 
				<span class="author">{{ book.author|capfirst }}</span>
				<span class="title">{{ book.title|capfirst }}</span>
				<span class="location">{{ book.location|capfirst }}</span>
			</label>
		</td>
	</tr>
	{% endfor %}
{% endblock %}

{% block locations %}
	{% for location in locations %}
		<option value="{{ location.name }}">{{ location.name|capfirst }}</option>
	{% endfor %}
{% endblock %}
