{% load staticfiles %}
<!DOCTYPE html>

<HTML>
	<HEAD>
		<TITLE>Add Location</TITLE>
		<LINK REL='stylesheet' TYPE='text/css' HREF='{% static 'style.css' %}'>
		<SCRIPT src="{% static 'functions.js' %}"></SCRIPT>
	</HEAD>
	<BODY>
		<a href="/" id="back" class="bookButton">back</a>
		<form id="deleteLocations" method="post" action="/deleteLocation/"> {% csrf_token %}
		<table id="display">
			<tr>
				<th style="width: 100%;"> Current Locations </th>
			</tr>

		{% for location in locations %}
		<tr>
			<td colspan="4"><input name="selectedLocations" type="checkbox" id="{{ location.name }}" value="{{ location.id }}" class="books" onclick="bookClicked()"> 
				<label class="labelBooks" for="{{ location.name }}"> 
					<span class="location">{{ location.name }}</span>
				</label>
			</td>
		</tr>
		{% endfor %}

		</table>
		<input type="submit" name="deleteLocation" value="delete" id="submitDeleteLocation">
		</form>

		<br>
		<br>
		<b>New Location</b>
		<form method="post" action=""> {% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Save">
		</form>
	</BODY>
</HTML>
