{% load staticfiles %}
<!DOCTYPE html>

<HTML>
	<HEAD>
		<TITLE>Book Inventory</TITLE>
		<META CHARSET="UTF-8">
		<LINK REL="stylesheet" TYPE="text/css" HREF="{% static 'style.css' %}">
		<SCRIPT src="{% static 'functions.js' %}"></SCRIPT>
	</HEAD>
	<BODY>
		<!-- The following conditional ensures that the addBookForm
			 div is still displayed when there are errors, rather than
			 revert to being off-page on page reload. -->
		<div id="addBookForm" 
				{% if form.errors %}
					style="top: 10px; height: 385px;"
				{% endif %} 
				>
			<span id="close" onclick="closeBookForm()" title="Close"
					style="float: right; cursor: pointer;">&#x2716</span>

			<form method="post" action=""> {% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Add Book">
				<a href="/modLocations/" id="addLocation" class="bookButton">Add Location</a>
			</form>
		</div>

		<table class="nav">
			<tr><td style="width: 40%; padding-left: 10%;">
				<a class="bookButton" onclick="addBook()">ADD BOOK</a>
			</td>
			<td>
				<form method="get" action="/search/">
					<input type="text" name="q" id="id_q"
					 placeholder="Title, author, etc..." required>
					<input type="submit" name="submit" id="searchButton" value="Search">
				</form>
			</td></tr>
			<tr><td style="width: 40%; padding-left: 10%;">
				<a class="bookButton" id="deleteBook" onclick="deleteBook()">Delete</a>
			</td><td>
				<a class="bookButton" id="modifyBook" onclick="modifyBook()">View / Modify</a>
			</td></tr>
		</table>

			<br>
			<a id="selectAll" onclick="selectAllBooks()">Select All</a>
			<a id="deselectAll" onclick="deselectAllBooks()">Deselect All</a>
			<form id="modifyBooks" method="post" action="/modify/"> {% csrf_token %}
			<table id="display">
				<tr>
					<th class="authorHead">Author</th>
					<th class="titleHead">Title</th>
					<th class="locationHead">Location</th>
				</tr>

				{% block content %}
				{% endblock content %}
			</table>
			<input type="submit" name="deleteModify" value="modify" id="submitModify" style="display: none;">
			<input type="submit" name="deleteModify" value="delete" id="submitDelete" style="display: none;">
			</form>
		</table>
	</BODY>
</HTML>
